﻿<h2>Contact.</h2>
<h3>@ViewBag.Message</h3>

<div class="float-right col-sm-10">
    <p>
        For inquiries, suggestions, or contributions call (907) 697-2242, Lee or Linda Parker or send an email to lindaparker@gustavushistory.org
    </p>
    <ul class="list-unstyled" >
        <li>GHAA</li>
        <li>P.O. Box 14</li>
        <li>Gustavus, Alaska 99826</li>
        <li>(907) 697-2242 (summer only)</li>
        <li>(907) 697-3042 (summer and winter)</li>
    </ul>
</div>