<div class="d-sm-flex col-sm-10 float-right">
    <div class="justify-content-center">
        <a st href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=leeparker%40gustavushistory%2eorg&amp;item_name=Gustavus%20Historical%20Archives%20%26%20Antiquities&amp;no_shipping=0&amp;no_note=1&amp;tax=0&amp;currency_code=USD&amp;lc=US&amp;bn=PP%2dDonationsBF&amp;charset=UTF%2d8"><img src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"></a>
        <br/>
        <p class="text-wrap text-sm-center">
            Gustavus Historical Archives & Antiquities (GHAA) has been granted tax-exempt status by the IRS. GHAA will accept donations of cash, land, buildings, vehicles and other goods of value (fully tax deductible) in order to support ongoing expenses, web site development, archive materials, technical equipment, etc. In addition, there will be a long-term need for secure and proper storage facilities for public access to donated collections & artifacts. Gustavus History collects and preserves important documents, photos, and artifacts from the earliest days of Strawberry Point, Glacier Bay & surrounding areas.
            All donations to Gustavus Historical Archives & Antiquities are fully qualified for federal deductions on your income taxes.
            Anyone who may have documents, photographs, ephemera or antiquities of early Gustavus that they are willing to add to the historic library (whether originals or copies of originals) are all welcome and source credits will be given. In the event duplicate copies are received, source credits will be given to the first person or family who submits the new historical material.
            For inquiries, suggestions, or contributions call (907) 697-2242, Lee or Linda Parker.
        </p>
        <ul class="list-unstyled" >
            <li>GHAA</li>
            <li>P.O. Box 14</li>
            <li>Gustavus, Alaska 99826</li>
            <li>(907) 697-2242 (summer only)</li>
            <li>(907) 697-3042 (summer and winter)</li>
        </ul>
    </div>
</div>