﻿@{
    ViewBag.Title = "Home Page";
}
<div class="d-none">
    <p>
     Leland (Lee) Parker, third generation of Gustavus, Alaska and grandson of homesteader Abraham Lincoln Parker has recently formed a nonprofit corporation called Gustavus Historical Archives and Antiquities. Lee says he believes such an organization is long overdue as a means to collect, preserve and maintain the historical integrity of Gustavus---called Strawberry Point in its beginnings.

The organization's goal is to make early original documents dating from the 1910's available to anyone who may be interested in researching Gustavus history and its surrounding areas. "It's a monumental task that's going to take time and resources," said Linda Parker who already has an estimated 6 months in full-time dedication organizing and archiving documents. "Eventually we would like to see them all time-lined, indexed, scanned and made available online in digital form," she added.

Lee Parker reports they are currently working with several thousand documents, hundreds of early letters, photographs "too many to count", and interesting Alaskan ephemera. In addition there are early handmade and other antiquities, and dozens of books and reference material dating from the 1800's and early 1900's used in Gustavus by the homesteaders in the schoolhouse, in farming, mining and home.

Other important documents include Abraham Lincoln Parker's personal yearly ledgers dating from 1917 (their Gustavus arrival) detailing everyday life, commerce---including crops, sales, trading, livestock, income etc., as well as activities of the other homesteaders such as Davis, Goods, Rinks, and Halls. Edith Arminthea Parker's diary and account books detail the comings and goings, household income, wars and other major events of the day.

"They may have been homesteading a very remote, undeveloped Alaskan wilderness, but I'm convinced my Grandparents Abraham and Edith Parker pretty much kept up with everything important going on, on the outside," said Lee Parker. "They were surprisingly well informed."

The locating of the Leroy gold mine in Glacier Bay in 1938 by Leslie Franklin Parker on one of he and his father Abraham's many prospecting trips has several cases full of documents organized but yet to be archived for historical purposes. "It's quite a story," said Lee Parker, "and there are a great deal of other mining activities in Glacier Bay as well as documents detailing the great friendship that developed between the Parkers and Joe and Muz Ibach of Glacier Bay and Lemesurier Island."

"It's truly been a treasure hunt as well as a labor of love," said Lee Parker. "The early homesteaders were a hearty lot who in spite of numerous challenges and defeats moved from agriculture and farming to cattle raising, lumbering, fishing and gold mining---whatever worked at the time. They were resourceful, hard working and self- sufficient. But there has also been a lot of misinformation and confused stories that have taken wings and migrated over the years and frankly, some of the assertions have gotten pretty wild."

"Our goal is to be able to offer original evidence and documentation, relying on verifiable facts as best we can before the years of re-telling, personal or political agendas, or the failings of human nature rewrite the course of Gustavus history."

Gustavus Historical Archives and Antiquities is a tax-exempt, non-profit organization.  All donations are recognized by the IRS as being tax deductible.

Anyone who may have documents, photographs, ephemera or antiquities of early Gustavus that they are willing to add to the historic library (whether originals or copies of originals) all are welcome and source credits will be given. "In the event duplicate copies are received," said Lee Parker, "Source credits will be given to the first person or family who submits the new historical material."

For inquiries, suggestions, or contributions call (907) 697-2242, Lee or Linda Parker.
    </p>
</div>
<div class="float-left" style="width: 100%">
    <hr class="d-none d-md-flex film-strip"/>
    <div class="d-none d-md-flex justify-content-center">
        <img class="film-roll-image" src="~/Content/images/charlie.png" alt=" photograph of person named charlie">
        <img class="film-roll-image" src="~/Content/images/ballmill.jpg" alt=" a mill named ballmill"/>
        <img class="film-roll-image" src="~/Content/images/nellwedding.jpg" alt="a woman in a wedding dress"/>
        <img class="film-roll-image" src="~/Content/images/bonnieedith.jpg" alt=" a boat at dock named bonnie edith"/>
        <img class="film-roll-image" src="~/Content/images/lester.jpg" alt=" a guy named lester"/>
        <img class="film-roll-image" src="~/Content/images/goldchute.jpg" alt="a gold mining chute"/>
        <img class="film-roll-image" src="~/Content/images/albertsawmill.jpg" alt="a sawmill"/>
        <img class="film-roll-image" style="height: 130px;" src="~/Content/images/joemuz.jpg" alt="a person named joe"/>
    </div>
    <hr class="d-none d-md-flex film-strip"/>
</div>

<div class="col-md-10 col-sm-12 d-flex float-right justify-content-md-around justify-content-center home-main-large flex-column flex-md-row">
    <div class="col-10 col-sm-2 card home-card bg-dark" style="margin-bottom: 20px; max-height: 205px; padding-bottom: 20px;">
        <img class="card-img  " src="~/Content/images/BackInAlaska.JPG" alt="A map of a town in alaska" 
             style="max-height: 160px;"/>
        <div class="card-body">
            <a class="card-link" href="~/Archives/Documents">Documents</a>
        </div>
    </div>
    <div class="col-10 col-sm-2 card home-card bg-dark" style="margin-bottom: 20px; max-height: 205px; padding-bottom: 20px;">
        <img class="card-img" src="~/Content/images/JHenry.jpg" alt="Picture of J Henry in a field"  style="max-height: 160px;"/>
        <div class="card-body">
            <a class="card-link" href="~/Archives/Photographs">Photographs</a>            
        </div>
    </div>
    <div class="col-10 col-sm-2 card home-card bg-dark" style="margin-bottom: 20px; max-height: 205px; padding-bottom: 20px;">
        <img class="card-img" src="~/Content/images/SamBuoy.JPG" alt="A picture of a SamBuoy"  style="max-height: 160px;"/>
        <div class="card-body">
            <a class="card-link" href="~/Archives/Artifacts">Artifacts</a>
        </div>
        
    </div>
</div>

