@model IEnumerable<gustavusHistory.Models.Article>

<div class="container float-right d-sm-flex">
    <ul class="row list-unstyled justify-content-around">
        @foreach (var item in Model)
        {
            <li class="card col-md-3 bg-light" style="margin: 10px">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <a href="Detail/@item.Id" class="card-link">Detail</a>
                </div>
            </li>
        } 
    </ul>
</div>