@model gustavusHistory.Models.PagedResults<gustavusHistory.Models.Article>

<div>
    <ul class="pagination">
        @if (Model.Page < Model.PageCount)
        {
            <li class="page-item">
                <a href="Books?page=0&pageSize=@Model.PageSize" class="page-link">&laquo;</a>
            </li>
            <li class="page-item">
                <a href="Books?page=@(Model.Page-1)&pageSize=@Model.PageSize" class="page-link">&lt;</a>
            </li>
        }
        @for (int i = (Model.Page>0 ? Model.Page-1: 0); i <= Model.Page; i++)
        {
            if (i != Model.Page)
            {
                <li class="page-item">
                    <a href="Books?page=@Model.Page&pageSize=@Model.PageSize" class="page-link"> @(i + 1)</a>
                </li>
            }
            else
            {
                <li class="page-item alert-info">
                    <a href="Books?page=@Model.Page&pageSize=@Model.PageSize" class="page-link"> @(i + 1)</a>
                </li>
            }
            
        }
        @if (Model.Page < Model.PageCount)
        {
            <li class="page-item">
                <a href="Books?page=@(Model.Page+1)&pageSize=@Model.PageSize" class="page-link">&gt;</a>
            </li>
            <li class="page-item">
                <a href="Books?page=@Model.PageCount&pageSize=@Model.PageSize" class="page-link">&raquo;</a>
            </li>
        }
    </ul>
    <div class=" col-sm-10 float-right">
        @Html.Partial("_ListView", Model.Results)
    </div>
    
</div>