@using Microsoft.Ajax.Utilities
@model gustavusHistory.Models.Article

<div class="col-sm-10 card float-right">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Html.Raw(HttpUtility.HtmlDecode(Model.Text)) </p>
        <ul class="list-unstyled">
            <li><b>Published date:</b>@Model.PublishDate</li>  
            <li><b>Reference #:</b>@Model.Id</li>
        </ul>
    </div>
</div>