﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sticky-footer
{
    display: block;
    clear-side: both;
    width: 100%;
    text-align: center;
    height:60px;
}
.film-header
{
    margin-left: auto;
    margin-right: auto;
}

.film-roll-image
{
    height: 10%;
    width: 12%;
    padding-right: 5px;
    padding-left: 5px;
}

.film-strip
{
    background-image: url("../Content/images/filmbg.png");
    background-repeat: repeat;
    height: 13px;
    margin: 0;
}

.big-header
{
    background-image: url("../Content/images/whale.jpg");
    height: 162px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title
{
    text-align: center;
    color: #786838;
    font-family: Georgia, Serif, serif;
}

.tag-line
{
    color: #fafad2;
}

.big-screen
{
    .hidden-xs.hidden-sm;
}

.home-card
{
    max-height: 205px;
}

A.big-menu:link
{
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    color: #5b4b3b
}

A.big-menu:hover
{
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    color: #5b4b3b
}

A.big-menu:visited
{
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    color: #5b4b3b
}

A.main-menu:link
{
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    color: #fafad2
}

A.main-menu:hover
{
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    color: #fafad2
}

A.main-menu:visited
{
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    color: #fafad2
}

.PagerPageInfo
{
    FONT-WEIGHT: normal; COLOR: #ffffff; BACKGROUND-COLOR: #5b4b3b; TEXT-DECORATION: none
}

.PagerShortCut
{
    FONT-WEIGHT: normal; COLOR: #b22222; BACKGROUND-COLOR: #aaaaaa; TEXT-DECORATION: none
}

.PagerPageLink
{
    FONT-WEIGHT: normal; COLOR: #b22222; BACKGROUND-COLOR: #dddddd; TEXT-DECORATION: none
}

.PagerCurrentPage
{
    FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #5b4b3b; TEXT-DECORATION: none
}

.PagerNextPrev
{
    FONT-WEIGHT: normal; COLOR: #b22222; BACKGROUND-COLOR: #bbbbbb; TEXT-DECORATION: none
}

.PagerFirstLast
{
    FONT-WEIGHT: normal; COLOR: #b22222; BACKGROUND-COLOR: #bbbbbb; TEXT-DECORATION: none
}

.home-main-large
{
    
}

@media (min-width: 650px) 
{
    .home-main-large
    {
        background-image: url("../Content/images/EdithKids.JPG") ;
        background-size: 100%;
        height: 929px;
        padding-top: 30px;
    }
}


