﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gustavus Historical Society</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="big-header">
    <h1 class="title"><b>Gustavus 
            Historical Archives &amp; Antiquities</b>
    </h1>
    <h5 class="tag-line d-none d-md-block">Maintaining the historical 
        integrity of Gustavus &amp; surrounding areas by collecting and preserving 
        important early documents, photos and artifacts
    </h5>
</div>
<nav class="d-lg-none navbar-light navbar">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-light navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="list-unstyled">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Archives</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/Archives/Photographs">Photographs</a>
                    <a class="dropdown-item" href="~/Archives/Documents">Documents</a>
                    <a class="dropdown-item" href="~/Archives/Artifacts">Artifacts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/Articles/FactOfTheMatter"> Fact of the Matter</a>
                    <a class="dropdown-item" href="~/Articles/Books"> Books</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Resources/MoreResources">Other Sources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/About">About GHAA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Donate">Donate</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid body-content" style="padding-bottom: 60px;">
    @RenderBody()
    <nav class="d-none d-md-block col-sm-2 float-left">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Archives</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/Archives/Photographs">Photographs</a>
                    <a class="dropdown-item" href="~/Archives/Documents">Documents</a>
                    <a class="dropdown-item" href="~/Archives/Artifacts">Artifacts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/Articles/FactOfTheMatter"> Fact of the Matter</a>
                    <a class="dropdown-item" href="~/Articles/Books"> Books</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Resources/MoreResources">Other Sources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/About">About GHAA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Donate">Donate</a>
            </li>
        </ul>
    </nav>
    <hr/>

</div>
    <footer class="sticky-footer float-right">
        <a href="">Donate</a>
        <a href="">Contact</a>
        <a href="">About GHAA</a>
        <p>&copy; @DateTime.Now.2019 - Gustavus Historical Archives & Antiquities</p>
        <p> P.O. Box 14, Gustavus, Alaska 99826 (907) 697-2242. All rights reserved. No part of this webpage of Gustavus, Alaska History may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronical, mechanical, recording, or otherwise, without prior written permission from Gustavus Historical Archives & Antiquities. This webpage may be printed only for personal or classroom use.</p>
    </footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
