@using gustavusHistory.Models
@model IEnumerable<gustavusHistory.Models.ArchiveItem>

<div class="container float-right d-sm-flex">
<ul class="row list-unstyled justify-content-around">
    @foreach (var item in Model)
    {
        <li class="card col-md-3 bg-light" style="margin: 10px">
            <img src="../../Content/images/uploadedImages/@item.FileName" class="card-img-top"/>
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <b>Reference #:</b>@item.Id
                <b>Collection:</b> @item.Collection
                <b>Source:</b> @item.Source <br/>
                <a href="Detail/@item.Id" class="card-link">Detail</a>
            </div>
        </li>
    } 
</ul>
</div>