@using Microsoft.Ajax.Utilities
@model gustavusHistory.Models.ArchiveItem

<div class="col-sm-10 card float-right">
    <img src="../../Content/images/uploadedImages/@Model.FileName" class="card-img-top"/>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Html.Raw(HttpUtility.HtmlDecode(Model.Text)) </p>
        <ul class="list-unstyled">
            @if (!string.IsNullOrWhiteSpace(Model.EstimatedDate()))
            {
            <li><b>Estimated date:</b>@Model.EstimatedDate()</li>  
            }
            <li><b>Collection:</b> @Model.Collection</li>
            <li><b>Source:</b> @Model.Source <br/></li>
            <li><b>Reference #:</b>@Model.Id</li>
        </ul>
    </div>
</div>